@use '../mixins' as m;

.experience {
    flex: 2;

    @include m.wide {
        padding-left: 2rem;
    }

    @include m.narrow {
        margin-top: 1em;
    }

    hr {
        @include m.wide {
            margin-left: 0;
        }
        @include m.narrow {
            width: 100%;
        }
    }

    .uni li {
        margin-bottom: 12px;
    }
}
