@use '../variables' as v;

.experience-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    .time {
        display: flex;
        flex-direction: column;
        color: v.$accent;
        font-size: 0.8em;
        font-style: italic;
        margin-left: 3em;
        align-items: flex-end;

        .from {
            font-size: 0.75em;
        }
    }
}