.icon-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: auto;
        height: 20px;

        &:hover {
            filter: brightness(0.6);
        }
    }
}