@use '../variables' as v;

.locale-btn-wrapper {
    display: flex;
    flex-direction: column;

    font-size: 0.8em;
    width: fit-content;
    padding: 0 2px;

    background-color: v.$background-contrast;
    border: 1px solid #fff;
    transition: border-color 0.25s;
    overflow: hidden;

    &:hover {
        border-color: v.$accent;
    }
    
    button {
        text-transform: uppercase;
        margin: 4px 0;
        
        // fix black color on some devices
        color: #fff;
        
        &:hover {
            color: #999;
        }

        &:first-child {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                margin-right: -4px;
                margin-left: 4px;
                font-size: 1.5em;
                transition: transform 0.25s;
            }

            &.open {
                span {
                    transform: rotate(180deg);
                }
            }
        }
    }

    hr {
        width: calc(100% + 4px);
        margin: 0 -2px;
        padding: 0 0;
        border-left: 0;
        border-right: 0;
    }

    .locales-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
