.material-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    .link-text {
        margin-right: 2px;
    }

    * {
        color: inherit;
    }
}

a.material-link {
    color: #fff;

    &:hover {
        color: #999;
    }
    
    &:visited {
        color: #fff;
    }
}
