@use '../variables' as v;

.my-pic {
    max-width: 100%;
    
    @media (max-width: v.$layout-breakpoint) {
        max-width: 50%;
    }
    
    img {
        width: 100%;
        border: 2px solid white;
        box-sizing: border-box;
    }
}
