@use '../variables' as v;
@use '../mixins' as m;

.my-pic {
    max-width: 100%;
    
    @include m.narrow {
        max-width: 50%;
    }
    
    img {
        width: 100%;
        border: 2px solid white;
        box-sizing: border-box;
    }
}
