@use '../variables' as v;

.summary {
    padding: 24px;
    background-color: v.$background-contrast;
    display: flex;
    flex-direction: column;
}

.my-name {
    margin-top: 24px;
    color: v.$accent;
}