@use '../variables' as v;

.summary {
    padding: 18px;
    background-color: v.$background-contrast;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    box-sizing: border-box;
}

.my-name {
    margin-top: 24px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.links {
    // margin-top: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    > * {
        margin-left: 24px;
    }
}
