@use 'variables' as v;

#root {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
}

.title {
    color: v.$accent;
}

hr {
    width: 90%;
}
