@use 'variables' as v;

#root {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
}

.title {
    color: v.$accent;
}

hr {
    width: 90%;
    margin: 24px auto;
}

.locale {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
