@use 'variables' as v;

#root {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.title {
    color: v.$accent;
}

hr {
    width: 90%;
}

.locale {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
