@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: monospace;
    font-synthesis: style weight;
    text-rendering: optimizeLegibility;

    @apply text-base;
}

#root {
    @apply flex flex-col items-center sm:flex-row sm:items-start;
    @apply relative sm:p-8 pb-12 box-border;

    @apply text-back dark:text-white;
    @apply bg-neutral-50 dark:bg-back;
}

@layer base {
    h1, h3 {
        @apply text-2xl;
    }

    h2 {
        @apply text-4xl;
    }

    h1, h2, h3 {
        margin-block-start: 0;
        margin-block-end: 0;

        @apply font-bold leading-6;
    }

    hr {
        @apply border-black dark:border-white;
    }

    a {
        @apply text-link hover:text-link-h font-bold;
    }
}

@layer components {
    .text-color {
        @apply text-black dark:text-white;
    }

    .text-contrast {
        @apply invert-[.6] dark:invert-0 dark:brightness-[.6];   
    }

    .text-clickable {
        @apply text-color;
        @apply hover:text-contrast;
    }
}