@use 'variables' as v;

:root {
    font-family: monospace;
    font-size: 1rem;

    color-scheme: light dark;
    color: #ffffff;
    background-color: v.$background;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: v.$link;
    font-weight: bold;
    text-decoration: inherit;
    
    &:visited {
        color: v.$link;
    }

    &:hover {
        color: adjust-color(v.$link, $lightness: -20%);
    }
}

body {
    margin: 0;
}

button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
    // padding-inline-start: 12px;
}

// @media (prefers-color-scheme: light) {
//     :root {
//         color: #213547;
//         background-color: #ffffff;
//     }

//     a:hover {
//         color: #747bff;
//     }
// }